*__pycache__*
*.egg-info/
build/*

.pdm-python
.venv
._venv

logs

.pdm-python

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

maalfrid_2021*
maalfrid_2022*
maalfrid_2023*
maalfrid_2024*
maalfrid_2025*
maalfrid_superset*
data/output/grid_search
