*__pycache__*
*.egg-info/
build/*

.pdm-python
.venv
._venv

output
!data/output
embeddings
data/maalfrid_2025

alignment_config.toml
logs

.pdm-python

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
