*__pycache__*
*.egg-info/
build/*

.pdm-python
.venv

output
!data/output
embeddings

alignment_config.toml
logs

.pdm-python

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
